<%= form_for @team do |f| %>

<%= f.hidden_field :user_id, value: current_user.id %>

  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@team.errors.count, "error") %> prohibited
        this team from being saved:
      </h2>
      <ul>
        <% @team.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :sport %><br>
    <%= f.text_field :sport %>
  </p>

  <p>
    <%= f.label :number_required_to_play %><br>
    <%= f.text_field :number_required_to_play %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
