<h1>Listing games</h1>
<table>
  <tr>
    <th class="blue-grey lighten-4">Game location</th>
    <th class="blue-grey lighten-4">Game date and time</th>
    <th class="blue-grey lighten-4">Home</th>
    <th class="blue-grey lighten-4">Away</th>
    <th class="blue-grey lighten-4"></th>
    <th class="blue-grey lighten-4"></th>
    <th class="blue-grey lighten-4"></th>
    <th class="blue-grey lighten-4"></th>
  </tr>

  <% @games.each do |game| %>
    <tr>
      <td><%= game.location %></td>
      <td><%= game.date %></td>
      <td><%= game.home_team %></td>
      <td><%= game.away_team %></td>
      <td><%= link_to 'Show', game_path(game) %></td>
      <td><%= link_to 'Edit', edit_game_path(game) %></td>
      <td><%= link_to 'Destroy', game_path(game),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<button class="btn waves-effect waves-light right white" type="submit" name="action"> <%= link_to 'New game', new_game_path %>
  </button>
