
<h1>Player list</h1>
<table>
  <tr>
    <th class="blue-grey lighten-4">First Name</th>
    <th class="blue-grey lighten-4">Last Name</th>
    <th class="blue-grey lighten-4">Phone Number</th>
    <th class="blue-grey lighten-4">Teams they are on</th>
    <th class="blue-grey lighten-4"></th>
    <th class="blue-grey lighten-4"></th>
    <th class="blue-grey lighten-4"></th>
  </tr>

  <% @players.each do |player| %>
    <tr>
      <td><%= player.first_name %></td>
      <td><%= player.last_name %></td>
      <td><%= player.phone_number %></td>
      <% player.teams.each do |team| %>
        <td><%= team.name %></td>
      <% end %>
      <td><%= link_to 'Show', player_path(player) %></td>
      <td><%= link_to 'Edit', edit_player_path(player) %></td>
      <td><%= link_to 'Destroy', player_path(player),
              method: :delete,
              data: { confirm: "Are you sure you want to remove #{player.first_name} #{player.last_name}" } %></td>
    </tr>
  <% end %>
</table>
<button class="btn waves-effect waves-light right white" type="submit" name="action"> <%= link_to 'New player', new_player_path %>
  </button>
